@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    transition-duration: 0.5s;
  }
html{
  font-size: 16px;
  scroll-behavior: smooth;
}
body{
    width: 100%;
    height: auto;
    background-color: rgb(222, 222, 223);
}
/*--------------- NAVIGATION BAR --------------------*/
nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    background-color: rgba(17, 22, 31, 0.514);
    }
.logo{
  margin-top: 0.3rem;
}
.nav-bar{
    text-decoration: none;
    color:#ffffff;
    font-size: 18px;
    margin: auto 1.5rem;
}
.nav_links li{
  display: inline-block;
}
.nav_links li a:hover{
  color: rgb(70, 133, 250);
}
.nav_links li:hover{
  transform: scale(1.2);
}
a {
  text-decoration:none;
}
#login{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button{
  display: flex;
  align-items: center;
  padding: .6rem .8rem;
  color:white;
  border-style: none;
  border-radius: .5rem;
  cursor: pointer;
  background-color: rgba(16, 63, 83, 0.84);
}
button:hover{
  background-color: rgb(20, 142, 194);
}
button h3{
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
#transIcon{
  font-size: 1.2rem;
  margin-right: .7rem;
}
#roundedIcon{
  display: none;
  font-size: 1.5rem;
  margin-right: .7rem;
}
/*-------------toggle menu-----------*/
#toggle-icon{
  display: none;
  margin-left: 2.5rem;
  font-size: 23px;
  color: white;
  cursor: pointer;
}
/*--------------- HOME --------------------*/
#home{
    position: relative;
    width: 100%;
    height: 42rem;
    background-image: url(./img/omega-home-a.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 25px 20px -20px;
}
.shape-1{
  position: absolute;
  top: -20.8rem;
  left: 50%;
  background-color: rgba(40, 84, 229, 0.753);
  box-shadow: rgba(2, 2, 14, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.849) 0px 8px 16px -8px;
  width: 200rem;
  height: 120rem;
  transform: rotate(10deg);
}
.home-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-side{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content:left;
  top: 21rem;
  transform: scale(1.1);
}
.bg-item{
  font-family: 'Dosis', sans-serif;
  margin-bottom: 0.6rem;
  margin-left: -1.0rem;
  background-color: rgba(19, 75, 139, 0.678);
  color: #ffffff;
  padding: .3rem 0rem .3rem 3.2rem;
  border-radius: 100px;
  font-size: 1.3rem;
  font-weight: 300;
}
.item1{
  width: 16.5rem;
}
.item2{
  width: 19.5rem;
}
.item3{
  width: 17rem;
}
.item4{
  width: 13.5rem;
}
.right-side{
  position: relative;
  flex-direction: column;
  top: 6rem;
  margin-right: 7%;
  transform: scale(1.1);
}
.home-quote{
  position: relative;
  font-family: 'Qwigley', cursive;
  text-align: center;
  font-size: 3.5rem;
  color: #ffffff;
  margin-top: 7%;
  max-width: 25rem;
}
.quote-src{
  position: relative;
  left: 15rem;
  color: white;
  font-size: 1.7rem;
  font-family: 'Qwigley', cursive;
}
/*--------------- Demos ---------------*/ 
#AP{
  padding-top: 7rem;
  padding-bottom: 8rem;
  background-color: rgb(243, 247, 249)!important;
  padding-left: 2rem;
  padding-right: 2rem;
}
.dark-title{
  color: rgba(0, 76, 138, 0.856);
  font-family: roboto;
  text-align: center;
  margin: auto;
  max-width: 440px;
}
.paragraph{
  color: #b4b4be;
  font-family: roboto;
  text-align: center;
  margin: 30px auto 10px auto;
  max-width: 640px;
}
.grid-container-1 {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  grid-gap: 2rem 1rem;
  margin: 3rem 2rem 0rem 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.grid-item-1{
  display:flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
  background-color: white;
  padding: 0.7rem 0.7rem 2rem 0.7rem;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.grid-item-1 h5{
  color: #0e7db1;
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 1.1rem;
  text-align: center;
  max-width: 13rem;
}
.grid-item-1:hover{
  box-shadow: rgba(3, 25, 36, 0.479) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transform: scale(1.3);
}
.img-AP{
  cursor: pointer;
  max-width: 20rem;
  height: 12rem;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
/*------------- Actualités ------------*/ 
#ACT{
  padding: 6rem 5rem 2rem 5rem;
  background-color: #ffffff;
}
.act-title{
  margin-bottom: 4rem;
}
.actualite{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-bottom: 5rem;
}
.act-h{
  color: #47444f;
  max-width: 440px;
  margin-bottom: 1rem;
  font-weight: 600;
}
.act-p{
  color: #b4b4be;
  font-size: 15px;
  line-height: 25px;
  max-width: 440px;
  margin-bottom: 1rem;
}
.act-img1{
  margin: auto 2rem;
  max-width: 60%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.act-img{
  margin: auto 2rem;
  max-height: 30rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.top-icon{
  display: inline-block;
  font-size: 1.3rem;
  width: 50px;
  height: 48px;
  background: linear-gradient(126deg, rgba(47,35,247,1) 0%, rgba(0,212,255,1) 100%);
  color: white;
  text-align: center;
  padding: 1rem 0.6rem;
  border-radius: 7px;
  line-height: 48px;
  margin-bottom: 1rem;
}
.act-text{
  margin-left: 4rem;
  margin-right: 2rem;
}
.learn-more{
  background: linear-gradient(16deg, rgba(4, 20, 54, 0.757) 1%, rgba(0,212,255,1) 100%);
  padding: 7px 10px;
  color: white;
  border-style: none;
  border-radius: 4px;
}
.learn-more:hover{
  background-color: rgb(0,212,255);
}
/*--------------- FAQ ---------------*/ 
#faq{
  width: 100%;
  padding: 6rem 10rem 10rem 10rem;
  background-color: rgb(24, 31, 37);
}
.faqs-grid{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 4rem 2rem;
  margin-top: 6rem;
}
#faq .faqs-grid h5{
  margin-right: 1rem;
  width: 30px;
  height: 30px;
  color: #000000;
  text-align: center;
  border-radius: 50%;
  font-weight: 700;
  line-height: 30px;
  background-color: rgb(7, 69, 204);
}
#faq .faqs-grid h2{
  color: #196cbe;
  font-family: Zen Kurenaido,sans-serif;
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}
#faq .faqs-grid p{
  color: #ccd2d4!important;
  font-family: Zen Kurenaido;
  font-size: 1rem;
}
.question{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: left;
}
/*--------------- Contact ---------------*/ 
#contact{
  background: linear-gradient(to left, #278cff, #323233) !important;
  width: 100%;
  padding-bottom: 7rem;
  padding-top: 5rem;
  padding: 5rem 5rem 7rem 5rem;
  font-family: Zen Kurenaido,sans-serif;
}
.light-title{
  color: rgba(255, 255, 255, 0.856);
  font-family: roboto;
  text-align: center;
  margin: auto;
  max-width: 440px;
}
.bg-shape-light{
  width: 100%;
  height: 25rem;
  z-index: 1;
  position: relative;
  top: 1rem;
  margin-top: -80rem;
  margin-bottom: 0rem;
}
.contact-ctn{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.our-contact{
  position: relative;
  z-index: 900;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.contact-us{
  position: relative;
  z-index: 900;
  display: grid;
  grid-template: 
  'name name name prenom prenom prenom' 
  'email email email email email email' 
  'message  message message message message message';
  justify-content: stretch;
  align-items: stretch;
  grid-gap: 2rem;
  background-color: #fff;
  padding: 3rem 4rem;
  width: 100%;
  border-radius: 7px;
}
.contact-us h3{
  margin-bottom: .7rem;
  font-family: roboto;
}
#name , #email, #prenom,textarea{
  border-color: rgba(128, 128, 128, 0.514);
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  color: #6c757d;
  text-align: start;
  outline: none;
}
#name , #email, #prenom,textarea{
  width: 100%;
  padding: 1rem;
}
#message{
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  height: 7rem;
}
textarea{
  height: 7rem;
  resize: none;
  overflow:hidden;
  font-family: 'Martel Sans', sans-serif;
}
.name{grid-area: name;}
.prenom{grid-area: prenom;}
.email{grid-area: email;}
.message{grid-area: message;}
.ctn{
  padding-left:4rem;
  padding-right:4rem;
}
#contact i{
  color: #4fc6e1!important;
  font-size: 2rem;
  margin: 1rem 0;
  cursor: pointer;
}
#contact h5{
  color: white;
  font-size: 0.8rem;
  line-height: 2;
}
#contact p{
  color: #b4b4be;
  font-size: 0.9rem;
}
#contact h3{
  color: #6c757d;
  font-size: 14px;
}
.send-msg{
  display: inline-block;
  color: white;
  background-color: #3565cc;
  border-color: #3565cc;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  margin-top: 1rem auto;
  text-align: center;
  padding: 15px 30px;
  cursor: pointer;
}
.send-msg:hover{
  background-color: #192441;
}
/*--------------- footer ---------------*/
footer{
  background-color: rgb(2, 9, 15)!important;
  width: 100%;
  padding: 4rem 5rem 2rem 5rem;
  font-family: dosis;
}
.row-1{
  position: relative;
  top: 0;
  display: grid;
  grid-template-columns: auto auto auto auto ;
  grid-gap: 1rem;
  margin-bottom: 4rem;
}
footer li, a{
  text-decoration: none;
  list-style: none;
  color: rgba(255, 255, 255, 0.788);
  transition: all 0.4s;
}
.row-1 li{
  padding-left: 1rem;
  line-height: 2rem;
  font-size: 13.5px;
}
.row-1 li a:hover{
  color: rgba(95, 137, 252, 0.623);
  transition: .5s ease-in-out;
}
.col-1 {
  line-height: 1.6;
  font-size: 0.97rem;
  color: rgba(255, 255, 255, 0.774);
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.row-1 img{
  margin-bottom: 1rem!important;
  cursor: pointer;
}
.vertline{
  background-color: rgba(255, 255, 255, 0.4);
  margin: 1.5rem 1rem 0rem 1rem;
  height: 90%;
  width: 1px;
}
.row-1 h3{
  margin-top: 2rem;
  margin-bottom: .75rem!important;
  color: rgb(17, 126, 250);
  font-size: 1.1rem;
}
.horizline{
  background-color: rgba(255,255,255,0.4);
  width: 100%;
  height: 1px;
}
.horizcol{
  background-color: rgb(252, 252, 252);
  width: 1rem;
  height: 2px;
}
.row-2{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.copyrights{
  line-height: 1.6;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.74);
}
.row-2 h5{
  font-size: 13px;
  margin-right: 1rem;
  color: rgba(255, 255, 255, 0.74);
}
.row-2 li{
  display: inline-block;
  margin: auto 0.3rem;
}
.social-media{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.74);
}
